@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
header h1{
    font-weight: 500;
    text-align: center;
    margin:  50px auto;
}
.articleContainer{
    display: flex;
    gap: 10px; 
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    border: 0.5px solid black;
}
.container{
    width: 100%;
    font-family: "Rubik" sans-serif;
}
header{
    border-bottom: 3px solid #f0efef;
}
nav{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}
header h1{
    font-weight: 500;
    text-align: center;
    margin: 50px auto;
}
.link-btn{
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    font: 13px;
    font-weight: 600;
}
a{
    text-decoration: none;
    background-color:whitesmoke;
    border: 1px solid rgb(232, 228, 228);
    -webkit-border-radius: 7px;
    color:black ;
    padding: 4px 24px;
} 
h4{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin-bottom: 12px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
image{
    margin-bottom: 10px;
}
div{
    width: 20%;
    margin: 20px 5px;
    border: 0.5px solid black;
    padding: 20px;
}
form{
    width: 40%;
    padding: 1rem;
    margin: auto;
}
form fieldset{
    border: 2px solid black;
    padding: 0 5rem;
    margin: 1rem;
} 